<section class="nosotros" id="nosotros">

    <div class="nosotros__text">

        <p>
            <span>Alchile Studio </span> está conformado por un <span>equipo creativo</span> con el compromiso de atender
           a nuestros clientes, brindándoles servicios picantes de gran impacto. 
        </p>

        <p>
            Comprometidos en brindar <span>servicios y soluciones</span> mediante un conjunto de disciplinas, cada una 
            analizada y desarrollada acorde a las necesidades de nuestros clientes.
        </p>

    </div>


    <div class="nosotros__servicios" id="nosotros">

        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                 <!-- <i class="fa-light fa-badge-check nosotros__servicio-icon"></i> -->
                <img src="resources/icons/branding.png" alt="Branding">
                <h2 class="nosotros__servicio-title">BRANDING</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Construir una marca es mucho más que elegir un nombre y diseñas un logotipo.
                </p>

                <p>
                    El objectivo principal es extender la marca de la empresa en el mercado, posicionarla y ubicarla en la 
                    mente de los consumidores.
                </p>
                
            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                 <!-- <i class="fa-light fa-camera nosotros__servicio-icon"></i> -->
                <img src="resources/icons/fotografia.png" alt="Fotografia">
                <h2 class="nosotros__servicio-title">FOTOGRAFÍA</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    La fotografía publicitaria utiliza técnicas de dirección de arte y fotomontaje, así como encuadres innovadores
                    y creativos.
                </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                <!-- <i class="fa-light fa-film nosotros__servicio-icon"></i> -->
                <img src="resources/icons/video.png" alt="Video">
                <h2 class="nosotros__servicio-title">VIDEO</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                   Realizamos la producción de videos institucionales, corporativos, animados, 
                   spots promocionales, videos de comida y tomas aéreas.
                </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                 <!-- <i class="fa-light fa-pen-nib nosotros__servicio-icon"></i> -->
                <img src="resources/icons/diseno.png" alt="Diseño Gráfico">
                <h2 class="nosotros__servicio-title">DISEÑO GRÁFICO</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Desde contenido digital para exteriores hasta las tarjetas de presentación.
               </p>

               <p>
                    Te proporcionamos soluciones llamativas y creativas para comunicas tus mensajes. 
               </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                 <!-- <i class="fa-light fa-megaphone nosotros__servicio-icon"></i> -->
                <img src="resources/icons/mkt.png" alt="MKT">
                <h2 class="nosotros__servicio-title">MKT</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Ya se que necesites asesoría de un equipo de marketing, apoyo para 
                    crear una estrategia o una campaña que se ajsute a tus necesidades.
               </p>

               <p>
                    ¡Nosotros te ayudamos!
               </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                <!-- <i class="fa-light fa-thumbs-up nosotros__servicio-icon"></i> -->
                <img src="resources/icons/social-media.png" alt="Social Media">
                <h2 class="nosotros__servicio-title">SOCIAL MEDIA</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Te orientamos a crear una presencia valiosa en las redes sociales de tu empresa 
                    con nuestros servicios dedicados a los medios sociales.
               </p>

            </div>

        </div>
       

    </div>

    <div class="nosotros__text">

        <p>
           Nuestros servicios siempre con el <span>factor picoso</span> que nos distingue.
        </p>

    </div>

</section>