<section class="nosotros" id="nosotros">

    <div class="nosotros__text">

        <p>
            <span>Alchile Studio </span> está conformado por un <span>Equipo Creativo</span> con el compromiso de atender
           a nuestros clientes, brindándoles servicios picantes de gran impacto. 
        </p>

        <p>
            Comprometidos en brindar <span>Servicios y Soluciones</span> mediante un conjunto de disciplinas, cada una 
            analizada y desarrollada acorde a las necesidades de nuestros clientes.
        </p>

    </div>


    <div class="nosotros__servicios" id="nosotros">

        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                 <!-- <i class="fa-light fa-badge-check nosotros__servicio-icon"></i> -->
                <img src="resources/icons/branding.png" alt="Branding">
                <h2 class="nosotros__servicio-title">BRANDING</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Logramos que tú marca tenga una imagen positiva y sea reconocida creando así un impacto permanente en la mente de
                    los consumidores.
                </p>

                
            </div>

        </div>

        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

              
                <img src="resources/icons/diseno.png" alt="Diseño Gráfico">
                <h2 class="nosotros__servicio-title">DISEÑO GRÁFICO</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Desde tarjetas de presentación hasta contenido digital para exteriores.
               </p>

            </div>

        </div>

        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                 <!-- <i class="fa-light fa-megaphone nosotros__servicio-icon"></i> -->
                <img src="resources/icons/mkt.png" alt="MKT">
                <h2 class="nosotros__servicio-title">MKT</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Te ayudamos a brindarle al cliente experiencias multisensoriales contándoles historias y permitiendo 
                    al mismo disfrutar disfrutar emociones a través de diferentes plataformas.
               </p>

            </div>

        </div>

      

        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                <!-- <i class="fa-light fa-thumbs-up nosotros__servicio-icon"></i> -->
                <img src="resources/icons/social-media.png" alt="Social Media">
                <h2 class="nosotros__servicio-title">SOCIAL MEDIA</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Administramos redes sociales creando contenido útil para generar engagment para tus clientes
                    actuales y potenciales.
               </p>

            </div>

        </div>

        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                <!-- <i class="fa-light fa-thumbs-up nosotros__servicio-icon"></i> -->
                <img src="resources/icons/ads.png" alt="Diseño Web" style="width: 80px">
                <h2 class="nosotros__servicio-title">ADS</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Te ayudamos a mejorar las conversiones, ventas, alcance y presencia de tu empresa en Redes Sociales.
               </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                 <!-- <i class="fa-light fa-camera nosotros__servicio-icon"></i> -->
                <img src="resources/icons/fotografia.png" alt="Fotografia">
                <h2 class="nosotros__servicio-title">FOTOGRAFÍA</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Captamos la esencia de tu servicio o producto para hacerla llegar a tu cliente.
                </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                <!-- <i class="fa-light fa-film nosotros__servicio-icon"></i> -->
                <img src="resources/icons/video.png" alt="Video">
                <h2 class="nosotros__servicio-title">VIDEO</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Generamos contenido audiovisual para comunicar información real de tu producto o servicio.
                </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                <!-- <i class="fa-light fa-thumbs-up nosotros__servicio-icon"></i> -->
                <img src="resources/icons/dron.png" alt="Dron" style="width: 150px">
                <h2 class="nosotros__servicio-title">DRON</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Llevamos la creación de contenido audiovisual a otro nivel, mostrando diferentes ángulos
                    de tu negocio, producto o servicio con tomas áereas.
               </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                <!-- <i class="fa-light fa-thumbs-up nosotros__servicio-icon"></i> -->
                <img src="resources/icons/web.png" alt="Diseño Web" style="width: 71px">
                <h2 class="nosotros__servicio-title">DISEÑO WEB</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Diseñamos y desarrollamos la página web o tienda en línea de tu negocio logrando
                    así la imagen perfecta en internet.
               </p>

            </div>

        </div>

        
       
       

    </div>

    <div class="nosotros__text">

        <p>
           Nuestros servicios siempre con el <span>FACTOR PICOSO</span> que nos distingue…
        </p>

    </div>

</section>