<section class="nosotros" id="nosotros">

    <div class="nosotros__text">

        <p>
            <span>Alchile Studio </span> está conformado por un <span>equipo creativo</span> con el compromiso de atender
           a nuestros clientes, brindándoles servicios picantes de gran impacto. 
        </p>

        <p>
            Comprometidos en brindar <span>servicios y soluciones</span> mediante un conjunto de disciplinas, cada una 
            analizada y desarrollada acorde a las necesidades de nuestros clientes.
        </p>

    </div>


    <div class="nosotros__servicios" id="nosotros">

        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                 <!-- <i class="fa-light fa-badge-check nosotros__servicio-icon"></i> -->
                <img src="resources/icons/branding.png" alt="Branding">
                <h2 class="nosotros__servicio-title">BRANDING</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Nuestro objetivo es lograr que tu marca tenga una imagen positiva y sea
                    reconocida creando así un impacto permanente en la mente de los
                    consumidores.
                </p>

                <p>
                    Obtienes beneficios de presencia, crecimiento y reconocimiento en plataformas
                    actuales.
                </p>
                
            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                 <!-- <i class="fa-light fa-camera nosotros__servicio-icon"></i> -->
                <img src="resources/icons/fotografia.png" alt="Fotografia">
                <h2 class="nosotros__servicio-title">FOTOGRAFÍA</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Una buena fotografía es pieza clave para la creación de un mensaje y así
                    incentivar la decisión de compra en el consumidor a partir de la percepción
                    visual, logramos captar la esencia de tu servicio o producto para hacerla llegar
                    al cliente.
                </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                <!-- <i class="fa-light fa-film nosotros__servicio-icon"></i> -->
                <img src="resources/icons/video.png" alt="Video">
                <h2 class="nosotros__servicio-title">VIDEO</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Generamos contenido audiovisual para comunicar información real de tu
                    producto o servicio a los consumidores, permitiéndoles observar
                    detalladamente las características del mismo así como sus funcionalidades.
                </p>

                <p>
                    Creamos interés, visitas al portal, posicionamiento y lo mas importante
                    logramos transmitir confianza y transparencia ante los consumidores.
                </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

              
                <img src="resources/icons/diseno.png" alt="Diseño Gráfico">
                <h2 class="nosotros__servicio-title">DISEÑO GRÁFICO</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Desde contenido digital para exteriores hasta las tarjetas de presentación.
               </p>

               <p>
                    Te proporcionamos soluciones llamativas y creativas para comunicar tus mensajes. 
               </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                 <!-- <i class="fa-light fa-megaphone nosotros__servicio-icon"></i> -->
                <img src="resources/icons/mkt.png" alt="MKT">
                <h2 class="nosotros__servicio-title">MKT</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Tenemos la habilidad de brindarle al cliente experiencias multisensoriales
                    contándoles historias y permitiendo al mismo disfrutar emociones, todo esto lo
                    logramos a través del desarrollo de promociones, sorteos, interacciones y
                    eventos utilizando diversas plataformas.
               </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                <!-- <i class="fa-light fa-thumbs-up nosotros__servicio-icon"></i> -->
                <img src="resources/icons/social-media.png" alt="Social Media">
                <h2 class="nosotros__servicio-title">SOCIAL MEDIA</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Manejamos las redes sociales tratando de crear contenido útil para generar
                    engagment para tus clientes actuales y potenciales, además de interactuar con
                    los clientes. Hacemos una mezcla perfecta de esfuerzo, diseño, planeación y
                    generación de contenidos.
               </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                <!-- <i class="fa-light fa-thumbs-up nosotros__servicio-icon"></i> -->
                <img src="resources/icons/social-media.png" alt="Social Media">
                <h2 class="nosotros__servicio-title">TOMAS CON DRON</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Llevamos la creación de contenido audiovisual a otro nivel, mostrando los
                    diferentes ángulos de tu negocio, producto o servicio con tomas áreas en
                    picada, paneo, de cine y 360°. 
               </p>

            </div>

        </div>


        <div class="nosotros__servicio" data-aos="fade-up">

            <div class="nosotros__servicio-header">

                <!-- <i class="fa-light fa-thumbs-up nosotros__servicio-icon"></i> -->
                <img src="resources/icons/social-media.png" alt="Social Media">
                <h2 class="nosotros__servicio-title">DISEÑO WEB</h2>

            </div>

            <div class="nosotros__servicio-body">

                <p>
                    Un buen diseño consiste en la elección correcto de tipografías, elementos de
                    apoyo visual y las animaciones. Creamos la carta de presentación perfecta con
                    las tendencias de diseño y animación del momento.
               </p>

            </div>

        </div>
       

    </div>

    <div class="nosotros__text">

        <p>
           Nuestros servicios siempre con el <span>factor picoso</span> que nos distingue.
        </p>

    </div>

</section>