<section class="portafolio" id="portafolio">

    <div class="portafolio__header">
        <h2 class="portafolio__title">
            Proyectos <br>
           <span>Recientes</span>
        </h2>
    </div>
    

    <div class="portafolio__container">

        <div class="portafolio__categories">
            
            <div class="portafolio__categories-header">

                <h3 class="portafolio__subtitle">Index.</h3>

            </div>

            <div class="portafolio__categories-list">

                <ul>
                    <li>Branding</li>
                    <li>Fotografía</li>
                    <li>Video</li>
                    <li>Diseño Gráfico</li>
                    <li>MKT</li>
                    <li>Social Media</li>
                </ul>
                
            </div>

        </div>

        <div class="portafolio__proyectos">

            <div class="portafolio__proyecto">

                <div class="portafolio__proyecto-header">
                   <div class="portafolio__proyecto-title"> Colegio Los Ángeles</div> 
                   <div class="portafolio__proyecto-border"></div>
                </div>

                <div class="portafolio__proyecto-body">
                    
                    <div class="portafolio__proyecto-img">
                        <img src="resources/img/cla-imagen.png" alt="CLA">
                    </div>

                    <div class="portafolio__proyecto-descripcion">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia excepturi architecto non optio quod porro sapiente, atque, reprehenderit, quidem quis soluta at! Velit voluptatum qui eveniet inventore necessitatibus placeat aliquid?
                    
                    </div>

                    <div class="portafolio__proyecto-info">

                        <div class="portafolio__proyecto-logo">
                            <img src="resources/img/cla-logo.png" alt="CLA">
                        </div>

                        <div class="portafolio__proyecto-lista">

                            <ul>
                                <li>Social Media</li>
                                <li>Fotografía</li>
                                <li>Video</li>
                                <li>Publicidad Impresa</li>
                                <li>Publicidad Exterior</li>
                                <li>Diseño Editorial</li>
                                

                        </div>

                    </div>

                </div>

            </div>


            

        </div>

    </div>

</section>