<section class="portafolio" id="portafolio">

    <div class="portafolio__header">
        <h2 class="portafolio__title">
            Proyectos <br>
           <span>Recientes</span>
        </h2>
    </div>
    

    <div class="portafolio__container">

        <div class="portafolio__categories">
            
            <div class="portafolio__categories-header">

                <h3 class="portafolio__subtitle">Index.</h3>

            </div>

            <div class="portafolio__categories-list">

                <ul>
                    <li>Branding</li>
                    <li>Fotografía</li>
                    <li>Video</li>
                    <li>Diseño Gráfico</li>
                    <li>MKT</li>
                    <li>Social Media</li>
                </ul>
                
            </div>

        </div>

    </div>

</section>