

.background{
    position: absolute;
    width: 250%;
    height: 250%;
    z-index: -999;
}

    @media screen and (min-width: 300px) and (max-width: 1000px) {
        .background{
            display: none;
        }
    }

.waves{
    position: relative;
}

.background img{
    position: absolute;
    width: 290rem;
    top: -50rem;
    left: -55rem;
    opacity: 0;
    /* animation-name: trap_stroke;
    animation-duration: 0.5s;
    animation-delay: var(--i);
    animation-fill-mode: both; */
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
    animation-delay: var(--i);
}


@keyframes increase {

    /*load to left*/
    0% {
        /* width: 0; */
        transform: scale(-0);

    }

    100% {
        transform: scale(1);

        opacity: 1;

    }
}


@keyframes trap_stroke {
    0% {
        width: 0;

    }

    100% {
        width: 290rem;
    }
      
}  

.line{
    position: absolute;
    display: none;
    top: 2rem;
    left: 5rem;
    width: 0;
    background-color: red;
    height: 3rem;
    animation: 1s in-out forwards;
}

@keyframes in-out {
    0% {
      width: 0;
    }
    100% {
      width: 10rem;
    }
  
  }


.chilis{
    position: relative;
    display: flex;
}

.chilis span{
    position: relative;
    width: 3rem;
    height: 3rem;
    color: #181818;
    font-size: 2rem;
    margin: 0 4px;
    animation: animate 15s linear infinite;
    animation-duration: calc(10s / var(--i));

}


/* .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}
  


@keyframes animate {
    0%{
        transform: translateY(100vh) scale(1) ;
    }
    100%{
        transform: translateY(-10vh) scale(1) ;
    }
} */

