/*
|   ---------------------------------------------------------------------------------
|   @Components (Button)
|   ---------------------------------------------------------------------------------
|   
*/


.button{
    background-color: transparent;
    min-width: max-content;
    border: 2px solid var(--amarillo_700);
    text-align: center;
    color: var(--amarillo_700);
    text-decoration: none;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    transition: .4s;
}


.button--mc{
    width: max-content;
}
