<div class="background">


    <div class="line"></div>
    
    <div class="waves" >

        <img src="resources/animacion/pag-web1-01.svg" style="--i: .2s;"  alt="wave">
        <img src="resources/animacion/pag-web2-01.svg" style="--i: .4s;"  alt="wave">
        <img src="resources/animacion/pag-web3-01.svg" style="--i: .8s;"  alt="wave"> 
        <img src="resources/animacion/pag-web4-01.svg" style="--i: 1s;" alt="wave">
        <img src="resources/animacion/pag-web5-01.svg" style="--i: 1.2s;" alt="wave">
        <img src="resources/animacion/pag-web6-01.svg" style="--i: 1.4s;" alt="wave">
        <img src="resources/animacion/pag-web7-01.svg" style="--i: 1.6s;" alt="wave">
        <img src="resources/animacion/pag-web8-01.svg" style="--i: 1.8s;" alt="wave">
        <img src="resources/animacion/pag-web9-01.svg" style="--i: 2s;" alt="wave">
        <img src="resources/animacion/pag-web10-01.svg" style="--i: 2.2s;" alt="wave">
        <img src="resources/animacion/pag-web11-01.svg" style="--i: 2.4s;" alt="wave">
        <img src="resources/animacion/pag-web12-01.svg" style="--i: 2.6s;" alt="wave">
        <img src="resources/animacion/pag-web13-01.svg" style="--i: 2.8s;" alt="wave">
        <img src="resources/animacion/pag-web14-01.svg" style="--i: 3s;" alt="wave">
        <img src="resources/animacion/pag-web15-01.svg" style="--i: 3.2s;" alt="wave">
        <img src="resources/animacion/pag-web16-01.svg" style="--i: 3.4s;" alt="wave">
        <img src="resources/animacion/pag-web17-01.svg" style="--i: 3.6s;" alt="wave">
        <img src="resources/animacion/pag-web18-01.svg" style="--i: 3.8s;" alt="wave">
        <img src="resources/animacion/pag-web19-01.svg" style="--i: 4s;" alt="wave">
        <img src="resources/animacion/pag-web20-01.svg" style="--i: 4.2s;" alt="wave">
        <img src="resources/animacion/pag-web21-01.svg" style="--i: 4.4s;" alt="wave">
        <img src="resources/animacion/pag-web22-01.svg" style="--i: 4.8s;" alt="wave"> 

    </div>

  

    <!-- <div class="chilis">

        <span style="--i: 9"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 8"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 6"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 9"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 7"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 8"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 1"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 7"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 7"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 1"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 1"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 1"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 1"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        
    </div> -->

</div>