<div class="background">


    
    
    <div class="waves" >

        <img src="resources/animacion/pag-web1-01.svg" style="--i: .5s;" >
        <img src="resources/animacion/pag-web2-01.svg" style="--i: 1s;" >
        <img src="resources/animacion/pag-web3-01.svg" style="--i: 1.5s;" > 
        <img src="resources/animacion/pag-web4-01.svg" style="--i: 2s;">
        <img src="resources/animacion/pag-web5-01.svg" style="--i: 2.5s;">
        <img src="resources/animacion/pag-web6-01.svg" style="--i: 3s;">
        <img src="resources/animacion/pag-web7-01.svg" style="--i: 3.5s;">
        <img src="resources/animacion/pag-web8-01.svg" style="--i: 4s;">
        <img src="resources/animacion/pag-web9-01.svg" style="--i: 4.5s;">
        <img src="resources/animacion/pag-web10-01.svg" style="--i: 5s;">
        <img src="resources/animacion/pag-web11-01.svg" style="--i: 5.5s;">
        <img src="resources/animacion/pag-web12-01.svg" style="--i: 6s;">
        <img src="resources/animacion/pag-web13-01.svg" style="--i: 6.5s;">
        <img src="resources/animacion/pag-web14-01.svg" style="--i: 7s;">
        <img src="resources/animacion/pag-web15-01.svg" style="--i: 7.5s;">
        <img src="resources/animacion/pag-web16-01.svg" style="--i: 8s;">
        <img src="resources/animacion/pag-web17-01.svg" style="--i: 8.5s;">
        <img src="resources/animacion/pag-web18-01.svg" style="--i: 9s;">
        <img src="resources/animacion/pag-web19-01.svg" style="--i: 9.5s;">
        <img src="resources/animacion/pag-web20-01.svg" style="--i: 10s;">
        <img src="resources/animacion/pag-web21-01.svg" style="--i: 10.5s;">
        <img src="resources/animacion/pag-web22-01.svg" style="--i: 11s;">

    </div>

  

    <!-- <div class="chilis">

        <span style="--i: 9"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 8"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 6"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 9"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 7"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 8"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 1"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 7"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 7"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 1"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 1"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 1"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 5"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 1"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 2"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 4"><i class="fa-solid fa-pepper-hot"></i></span>
        <span style="--i: 3"><i class="fa-solid fa-pepper-hot"></i></span>
        
    </div> -->

</div>