<div class="menu" id="menu">

    <div class="menu__header">
        <div class="menu__close">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>

    <div class="menu__links">

        <a href="#inicio" class="menu__link">Inicio</a>
        <a href="#nosotros" class="menu__link">Nosotros</a>
        <a href="#portafolio" class="menu__link">Portafolio</a>
        <a href="#contacto" class="menu__link">Contáctanos</a>

    </div>

    <div class="menu__circle-image"> 

        <img src="resources/img/circulo1.png" alt="">
        <img src="resources/img/circulo2.png" alt="" class="rotating">

    </div>
   

</div>