<nav class="nav">

    <div class="nav__container">

        <div class="nav__links">

            <a href="#inicio" class="nav__link" data-aos="fade-up" data-aos-delay="800">Inicio</a>
            <a href="#nosotros" class="nav__link" data-aos="fade-down" data-aos-delay="800">Nosotros</a>
            <a href="#portafolio" class="nav__link" data-aos="fade-up" data-aos-delay="800">Portafolio</a>
            <a href="#contacto" class="nav__link nav__link--hide" data-aos="fade-down" data-aos-delay="800">Contáctanos</a>

    
        </div>
    
        <div class="nav__links">
    
            <a href="#contacto" class="button" data-aos="fade-down" data-aos-delay="800" id="btn-contacto">
                Contáctanos
            </a>
    
        </div>

        
    </div>

    <div class="nav__menu">
        <i class="fa-solid fa-bars"></i>
    </div>

    

</nav>